body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

.item {
    min-height: 11em;
    background-color: blue;
    max-height: 11em;
    display: flex;
    flex-direction: row;
}

.item .image {
    height: 11em;
    width: 25%;
    background: red;
    padding: .8125em 5.3125em;
}

.item .image img {
    height: 9.375em;
    width: 9.375em;
}

.item .information {
    width: 50%;
    height: 11em;
    background: green;
    padding: 0 3em;
}

.item .information h4 {
    margin-bottom: 0;
}

.item .information .seller {
    font-size: .8em;
}

.item .information .shipping {
    font-size: .8em;
}

.item .rating {
    height: 11em;
    width: 25%;
    background: pink;
}

/*
    Farmers Profile
*/
.farmProfileBody  {
    font-size:25pt;
    margin-bottom: 0px;
    padding:0px;
    
}
.farmProfileBody img {
    margin-bottom: 5px;
    padding: 5px;
    
}
.farmProfileBody .description {

    font-size: 15pt;
    
}
.farmProfileBody .description hr {
    border-style: inset;
    border-width: 1px;
    width: 120px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.farmProfileBody .description .subHeader{
    font-size:24px;
    margin-top:0px;
    margin-bottom: 0px;
}
.farmProfileBody .contactInfo {
    font-size: 9pt;
    
}
.farmProfileBody .contactInfo hr {
    border-style: inset;
    border-width: 1px;
    width: 155px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.farmProfileBody .contactInfo h4{
    margin-bottom: 0px;
}
.farmProfileBody .googleMap {
    padding:20px;
    margin: 5px;
    width: 100%;
    height: 400px;
}
.farmProfileBody .cropTypes .subHeader {
    width: 100%;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.farmProfileBody .cropTypes .subHeader hr{
    border-style: inset;
    border-width:1px;
    color: black;
    width: 120px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.farmProfileBody .cropTypes .body {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}