body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

.item {
    min-height: 11em;
    background-color: blue;
    max-height: 11em;
    display: flex;
    flex-direction: row;
}

.item .image {
    height: 11em;
    width: 25%;
    background: red;
    padding: .8125em 5.3125em;
}

.item .image img {
    height: 9.375em;
    width: 9.375em;
}

.item .information {
    width: 50%;
    height: 11em;
    background: green;
    padding: 0 3em;
}

.item .information h4 {
    margin-bottom: 0;
}

.item .information .seller {
    font-size: .8em;
}

.item .information .shipping {
    font-size: .8em;
}

.item .rating {
    height: 11em;
    width: 25%;
    background: pink;
}