<!-- ko with: home -->
<div class="container">
    <div class="item">
        <div class="image">
            <img src="https://via.placeholder.com/150"/>
        </div>
        <div class="information">
            <h4>Product</h4>
            <div class="seller">Sold by Farmer Joe</div>
            <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae nisi sed lectus sodales vestibulum. Cras eu leo quis nulla.</div>
            <div class="shipping">Get by <b>February 2, 2019</b></div>
        </div>
        <div class="rating">
            <span>
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </span>
        </div>
    </div>
</div>
<!-- /ko -->
